.art1 h3{ /* Con esto le digo que todos los h3 dentro (descendientes) de art1 sean azules */
    color: blue;
}
p.verde{ /* Esto es que sea tipo párrafo y clase verde al mismo tiempo, .verde es "la especificidad" */
    color: lime
}
h2.verde{ /* esto se aplica a cualquier h2 con atributo verde, "aquellos h2 de clase verde" */
    color: darkgreen
}
h3, .verde { /* con esto estamos juntando selectores con las mismas propiedades */ /* la "," significa "y" */
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 900; /*900 es lo mismo que BOLD */
}
/* Cuando hay espacios "se lee" de derecha a izquierda.
por ejemplo:
main p [title="Virgilio"] {blabla} 
es: todo lo que tiene title=Virgilio, DENTRO DE UN PÁRRAFO. No, los parrafos con title Virgilio  */

/* Siempre heredas un estilo, valor al no ser que tengas uno propio */

/* Entre mismos selectores, elementos (h2,verde.etc) predomina el más específico y despues el de más abajo ya que es en cascada */