th, td{
    padding: 0.8rem 2rem; /* si ponemos 2 valores entiende que el primero es arriba/abajo y el segundo izq/der */
}

th{
    background-color: burlywood;
    color: brown;
}

td{
    background-color: cadetblue;
    color: blue;
}



table.destinos td:after{ 
    content: "%";
    /* border-collapse: collapse; para que colapsen las celdas */
    /* border-spacing: 1rem; para que tenga espacio entre las celdas de 1rem */
    /* empty-cells: hide/show; para que aparezca o desaparezca una empty cell */
}

table.destinos4 td:after{ 
    content: "%";
}
/* Colores a la tercera tabla par e impar */
table.destinos4 tr:nth-child(odd) td{
    background-color: aquamarine
}


